/* 1. exercice-1 */
.exercice-1 .container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

/* 2. exercice-2 */
.exercice-2 .container {
  display: flex;
  flex-flow: column-reverse wrap;
  align-items: center;
  justify-content: center;
}

/* 3. exercice-3 */
.exercice-3 .container {
display: flex;
flex-direction: column;
justify-content: flex-end;
justify-content: space-around;
align-items: center;
}
.exercice-3 .element-blue {
order: -1;
align-self: start;
}

/* 4. exercice-4 */
.exercice-4 .container {
display: flex;
flex-direction: row;
align-content: center;
justify-content: center;
justify-content: space-between;
align-items: center;
}

.exercice-4 .element-pink {
  order: 2;
  align-self: start;
}

.exercice-4 .element-blue {
  order: 3;
}

/* 5. exercice-5 */
.exercice-5 .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-self: center;
}

/* 6. exercice-6 */
.exercice-6 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: space-between; 
}

.exercice-6 .element-pink {
  flex-grow: 2;
}

/* 7. exercice-7 */
.exercice-7 .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-self: space-between;
}

/* 8. exercice-8 */
.exercice-8 .container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.exercice-8 .element-pink {
  order: 1;
  flex-grow: 2;
  flex-direction: row;
}

/* 9. exercice-9 */
.exercice-9 .container {
  display: flex;
  flex-direction: row;
  columns: 2;
}

/* 10. exercice-10 */
.exercice-10 .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

