/* 1. exercice-1 */
.exercice-1 .container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

/* 2. exercice-2 */
.exercice-2 .container {
  display: flex;
  flex-flow: column-reverse wrap;
  align-items: center;
  justify-content: center;
}

/* 3. exercice-3 */
.exercice-3 .container{
  order: -1;
  align-self: flex-start;
}

/* 4. exercice-4 */
.exercice-4 .element-blue {
  order: 1;
}

/* 5. exercice-5 */
.exercice-5 .container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: center;
}

/* 6. exercice-6 */
.exercice-6 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

/* 7. exercice-7 */
.exercice-7 .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

/* 8. exercice-8 */
.exercice-8 .container {
  display: flex;
  flex-direction: row;
}

/* 9. exercice-9 */
.exercice-9 .container {
  display: flex;
  columns: 2;
}

/* 10. exercice-10 */
.exercice-10 .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

